Examples/B1_aHomer_corrected.csv
Examples/B1_Composite.tif
Examples/B1_GluA1_corrected.csv
Examples/B1_GluA2_corrected.csv
Examples/B1_LifeActTagBFP.nd2
Examples/A1_aHomer_corrected.csv
Examples/A1_Composite.tif
Examples/A1_GluA1_corrected.csv
Examples/A1_GluA2_corrected.csv
DeepD3 Models/DeepD3_32F.h5
Examples/A1_Composite.log
Examples/A1_LifeAct.nd2
qPAINT_Segmentation/__pycache__/points.cpython-311.pyc
qPAINT_Segmentation/__pycache__/plot_helpers.cpython-311.pyc
qPAINT_Segmentation/__pycache__/frames.cpython-311.pyc
qPAINT_Segmentation/__pycache__/field_of_view.cpython-311.pyc
qPAINT_Segmentation/__pycache__/clusters.cpython-311.pyc
qPAINT_Segmentation/Cluster.csv
qPAINT_Segmentation/__pycache__/points.cpython-311.pyc
qPAINT_Segmentation/__pycache__/plot_helpers.cpython-311.pyc
qPAINT_Segmentation/__pycache__/frames.cpython-311.pyc
qPAINT_Segmentation/__pycache__/field_of_view.cpython-311.pyc
qPAINT_Segmentation/__pycache__/clusters.cpython-311.pyc
qPAINT_Segmentation/__pycache__/clusters.cpython-311.pyc
qPAINT_Segmentation/__pycache__/points.cpython-311.pyc
qPAINT_Segmentation/__pycache__/plot_helpers.cpython-311.pyc
qPAINT_Segmentation/__pycache__/frames.cpython-311.pyc
qPAINT_Segmentation/__pycache__/field_of_view.cpython-311.pyc
qPAINT_Segmentation/__pycache__/clusters.cpython-311.pyc
Examples/BuggyData/A1_aHomer_corrected.csv
Examples/BuggyData/A1_Composite.tif
Examples/BuggyData/A1_GluA1_corrected.csv
Examples/BuggyData/A1_GluA2_corrected.csv
