Examples/B1_aHomer_corrected.csv
Examples/B1_Composite.tif
Examples/B1_GluA1_corrected.csv
Examples/B1_GluA2_corrected.csv
Examples/B1_LifeActTagBFP.nd2
Examples/A1_aHomer_corrected.csv
Examples/A1_Composite.tif
Examples/A1_GluA1_corrected.csv
Examples/A1_GluA2_corrected.csv
DeepD3 Models/DeepD3_32F.h5
Examples/A1_Composite.log
Examples/A1_LifeAct.nd2
qPAINT_Segmentation/Cluster.csv
Examples/BuggyData/A1_aHomer_corrected.csv
Examples/BuggyData/A1_Composite.tif
Examples/BuggyData/A1_GluA1_corrected.csv
Examples/BuggyData/A1_GluA2_corrected.csv
qPAINT_Segmentation/DeepD3_32F.h5
qPAINT_Segmentation/DockerTestingFOVs.pkl
qPAINT_Segmentation/DockerTestingFOVsNOD3.pkl
5]
pred_thresh)
threshold)
qPAINT_Segmentation/Cluster0.csv
qPAINT_Segmentation/Cluster1.csv
qPAINT_Segmentation/Cluster2.csv
qPAINT_Segmentation/Cluster3.csv
Examples/A1_spines_labels_roi.json
Examples/A1_spines_starplane.npy
Examples copy/A1_aHomer_corrected.csv
Examples copy/A1_Composite.log
Examples copy/A1_Composite.tif
Examples copy/A1_GluA1_corrected.csv
Examples copy/A1_GluA2_corrected.csv
Examples copy/A1_LifeAct.nd2
Examples copy/B1_aHomer_corrected.csv
Examples copy/B1_Composite.tif
Examples copy/B1_GluA1_corrected.csv
Examples copy/B1_GluA2_corrected.csv
Examples copy/B1_LifeActTagBFP.nd2
Examples copy/BuggyData/A1_aHomer_corrected.csv
Examples copy/BuggyData/A1_Composite.tif
Examples copy/BuggyData/A1_GluA1_corrected.csv
Examples copy/BuggyData/A1_GluA2_corrected.csv
Outputs/A1_spines_labels_roi.json
Outputs/A1_spines_starplane.npy
qPAINT_Segmentation/Data/
qPAINT_Segmentation/__pycache__/
qPAINT_Segmentation/__pycache__/cluster_algorithms.cpython-39.pyc
qPAINT_Segmentation/__pycache__/cluster_algorithms.cpython-39.pyc
qPAINT_Segmentation/__pycache__/clusters.cpython-39.pyc
qPAINT_Segmentation/__pycache__/field_of_view.cpython-39.pyc
qPAINT_Segmentation/__pycache__/frames.cpython-39.pyc
qPAINT_Segmentation/__pycache__/points.cpython-39.pyc
qPAINT_Segmentation/__pycache__/spine_identification.cpython-37.pyc
qPAINT_Segmentation/__pycache__/spine.cpython-39.pyc
qPAINT_Segmentation/__pycache__/plot_helpers.cpython-39.pyc
